<launch>
    <arg name="resolution" default="0.0125" />

    <arg name="canopies_ns" default="canopies" />
    <arg name="canopies_map_file" default="/home/cear/data/panorama_extended_16/maps/map_canopies.yaml" />
    <arg name="trunks_ns" default="trunks" />
    <arg name="trunks_map_file" default="/home/cear/data/panorama_extended_16/maps/map_trunks.yaml" />

    <group ns="$(arg canopies_ns)">
        <include file="$(find contour_based_localization)/launch/global_localization.launch" >
            <arg name="resolution" value="$(arg resolution)" />
            <arg name="image_topic" value="/bebop/image_raw" />
            <arg name="ns" value="$(arg canopies_ns)" />
            <arg name="map_file" value="$(arg canopies_map_file)" />
            <arg name="standalone" value="false" />
        </include>
        <node pkg="tf" type="static_transform_publisher" name="map_to_world_tf" args="0 0 0 0 0 0 world $(arg canopies_ns)/map 50" />
    </group>

    <group ns="$(arg trunks_ns)">
        <include file="$(find contour_based_localization)/launch/global_localization.launch" >
            <arg name="resolution" value="$(arg resolution)" />
            <arg name="image_topic" value="/estimated_trunks" />
            <arg name="ns" value="$(arg trunks_ns)" />
            <arg name="map_file" value="$(arg trunks_map_file)" />
            <arg name="standalone" value="false" />
        </include>
        <node pkg="tf" type="static_transform_publisher" name="map_to_world_tf" args="0 0 0 0 0 0 world $(arg trunks_ns)/map 50" />
    </group>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find contour_based_localization)/config/amcl_comparison.rviz" />
    <node pkg="rosbag" type="record" name="bag_recorder" args="/pose
                                                               /canopies/particlecloud /canopies/amcl_pose /canopies/scanmatcher_pose
                                                               /trunks/particlecloud /trunks/amcl_pose /trunks/scanmatcher_pose -O results.bag" />
</launch>